<div class="row">
  <div class="col-sm">
    <h1><%= @family_tree.name %></h1>
    <p>
      <%= @family_tree.description %><br />
      <%= link_to 'Edit', edit_family_tree_path(@family_tree) %>
    </p>

    <div class="mx-auto">
      <%= form_with(model: [@family_tree, @family_tree.people.build], local: true) do |form| %>
        <h3>Add a New Person to the Family Tree</h3>
        <div class="mb-3">
          <%= form.label :first_name, class: "form-label"  %>
          <%= form.text_field :first_name, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :last_name, class: "form-label"  %>
          <%= form.text_field :last_name, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :date_of_birth, class: "form-label"  %>
          <%= form.date_field :date_of_birth, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :nickname, class: "form-label"  %>
          <%= form.text_field :nickname, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :birthplace, class: "form-label"  %>
          <%= form.text_field :birthplace, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :bio, class: "form-label"  %>
          <%= form.text_area :bio, class: "form-control" %>
        </div>
        <%= form.submit "Add Person", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <br /><br />
    <div class="mx-auto">
      <%= form_with(model: @relationship, url: relationships_path, local: true) do |form| %>
        <h3>Add New Relationship</h3>
        <div class="mb-3">
          <%= form.label :person_one_id, "Person 1", class: "form-label" %>
          <%= form.collection_select :person_one_id, @people, :id, :full_name, {include_blank: true}, {class: 'form-control'} %>
        </div>
        <div class="mb-3">
          <%= form.label :person_two_id, "Person 2", class: "form-label" %>
          <%= form.collection_select :person_two_id, @people, :id, :full_name, {include_blank: true}, {class: 'form-control'} %>
        </div>
        <div class="mb-3">
          <%= form.label :relationship_type, "Type of Relationship", class: "form-label" %>
          <%= form.select :relationship_type, Relationship::RELATIONSHIP_TYPES, {include_blank: true}, {class: 'form-control'} %>
        </div>
        <%= form.submit "Create Relationship", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>
  <div class="col-sm">
    <h2>People in This Family Tree</h2>
    <% if @people.any? %>
      <% @people.each do |person| %>
        <% if person.first_name %>
        <div class="card" style="width: 18rem; margin-bottom: 10px;">
          <div class="card-body">
            <h5 class="card-title"><%= person.full_name %></h5>
            <p class="card-text"><%= person.date_of_birth %> - <%= person.date_of_death %></p>
            <%= link_to "View", family_tree_person_path(@family_tree, person) %>
            <%= link_to 'Delete', family_tree_person_path(@family_tree, person), method: :delete, data: { confirm: 'Are you sure?' } %>       
          </div>
        </div>
        <% end %>
      <% end %>
    <% else %>
      <p>No people have been added to this family tree yet.</p>
    <% end %>
  </div>
</div>
