<div class="mx-auto">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= dashboard_path %>">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="<%= family_tree_path(@family_tree) %>"><%= @family_tree.name %></a></li>
    <li class="breadcrumb-item"><a href="<%= family_tree_person_path(@family_tree, @person) %>"><%= @person.full_name %></a></li>
    <li class="breadcrumb-item active" aria-current="page">New Mother</li>
  </ol>
  <%= form_with(model: @relationship, url: relationships_path, local: true) do |form| %>
    <h3>Add New Relationship</h3>
    <div class="mb-3">
      <%= form.label :person_one_id, "This family member", class: "form-label" %>
      <%= form.collection_select :person_one_id, @people, :id, :full_name, {include_blank: true}, {class: 'form-control'} %>
    </div>
    <div class="mb-3">
      <%= form.label :relationship_type, "Is the", class: "form-label" %>
      <%= form.select :relationship_type, Relationship::RELATIONSHIP_TYPES, {include_blank: true}, {class: 'form-control'} %>
    </div>
    <div class="mb-3">
      <%= form.label :person_two_id, "Of this family member", class: "form-label" %>
      <%= form.collection_select :person_two_id, @people, :id, :full_name, {include_blank: true}, {class: 'form-control'} %>
    </div>
    <%= form.submit "Create Relationship", class: "btn btn-primary btn-sm" %>
    <%= link_to "Cancel", family_tree_path(@family_tree) %>
  <% end %>
</div>
