<div class="row gx-5">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= dashboard_path %>">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="<%= family_tree_path(@family_tree) %>"><%= @family_tree.name %></a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @person.full_name %></li>
    </ol>
  </nav>
  <div class="col-sm">
    <h1><%= @person.full_name %></h1>
    <p><strong>Date of Birth:</strong> <%= @person.date_of_birth %></p>
    <p><strong>Nickname:</strong> <%= @person.nickname %></p>
    <p><strong>Birthplace:</strong> <%= @person.birthplace %></p>
    <p><strong>Bio:</strong> <%= @person.bio %></p>
    <%= link_to 'Edit', edit_family_tree_person_path(@family_tree, @person) %>
    <%= link_to 'Tree', family_tree_person_tree_path(@family_tree, @person) %>
  </div>
  <div class="col-sm">
    <h2>Spouse</h2>
    <% if @person.spouse %>
      <%= render @person.spouse %>
    <% else %>
      <%= link_to 'Add Spouse', family_tree_person_new_spouse_path(@family_tree, @person), class: 'btn btn-primary' %>
    <% end %>
    <h2>Parents</h2>
    <% if @person.father %>
      <%= render @person.father %>
    <% else %>
      <%= link_to 'Add Father', family_tree_person_new_father_path(@family_tree, @person), class: 'btn btn-primary' %>
    <% end %>
    <% if @person.mother %>
      <%= render @person.mother %>
    <% else %>
      <%= link_to 'Add Mother', family_tree_person_new_mother_path(@family_tree, @person), class: 'btn btn-primary' %>
    <% end %>
    <h2>Siblings</h2>
    <%= render @person.siblings if @person.siblings.length > 0 %>
  </div>
</div>
