<div class="row">
  <div class="col-sm">
    <h1><%= @person.full_name %></h1>
    <p><strong>Date of Birth:</strong> <%= @person.date_of_birth %></p>
    <p><strong>Nickname:</strong> <%= @person.nickname %></p>
    <p><strong>Birthplace:</strong> <%= @person.birthplace %></p>
    <p><strong>Bio:</strong> <%= @person.bio %></p>
    <%= link_to 'Edit', edit_family_tree_person_path(@family_tree, @person) %>
  </div>
  <div class="col-sm">
    <h2>Relationships</h2>
    <% if @relationships.any? %>
      <% @relationships.each do |relationship| %>
        <% related_person = (relationship.person_one == @person) ? relationship.person_two : relationship.person_one %>
        <div class="card" style="width: 18rem; margin-bottom: 10px;">
          <div class="card-body">
            <%= related_person.full_name %> - <%= relationship.relationship_type %></li>
            <%= link_to 'Delete', relationship_path(relationship), method: :delete, data: { confirm: 'Are you sure you want to delete this relationship?' } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>This person has no recorded relationships.</p>
    <% end %>
  </div>
</div>
