<div class="row gx-5">
  <div class="col-sm">
    <h1>Dashboard</h1>
    <p class="subheading">This is your dashboard! This is where you can find all of your existing family trees and create new ones.</p>
    <h2>Create a New Family Tree</h2>
    <div class="mx-auto">
      <% if flash[:errors] %>
        <div class="error-messages">
          <% flash[:errors].each do |error| %>
            <div class="alert alert-warning"><%= error %></div>
          <% end %>
        </div>
      <% end %>
      <%= form_with model: @family_tree, local: true do |form| %>
        <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_area :description, class: "form-control" %>
        </div>
        <%= form.submit "Create Family Tree", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>
  <div class="col-sm">
    <h2>Your Family Trees</h2>
    <% if @family_trees.any? %>
      <%= render @family_trees %>
    <% else %>
      <p class="subheading">You have not created any family trees yet.</p>
    <% end %>
  </div>
</div>
